# Dependencies
node_modules/

# Environment Variables
.env
.env.test
.env.*.local

# Build Artifacts
/build/
/dist/
/out/
/target/
*.tsbuildinfo

# Logs and Temporary Files
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
*.pid
*.seed
*.tmp

# Test Coverage
coverage/
.nyc_output/

# OS and Editor Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.user
*.lock-wscript

# Optional: Output of 'npm pack'
*.tgz

# Temporary Directories
temp/
tmp/
